$color1 : #8a90ff;
$color2: white;
$color3: rgb(39, 39, 39);
$color4: #777777;
$color5: rgb(244, 244, 244);

$font-family1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family3: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;